---
import NextJS from "./icons/Next.astro"; 
import Tailwind from "./icons/TailwindCSS.astro";
import Supabase from "./icons/Supabase.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Typescript from "./icons/Typescript.astro";
import React from "./icons/React.astro";
import NodeJS from "./icons/NodeJS.astro";
import SocketIO from "./icons/Socket-io.astro";
import HtmlIcon from "./icons/Html.astro";
import CSSIcon from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import Python from "./icons/Python.astro";
import SQLIcon from "./icons/SQL.astro";
import Android from "./icons/Android.astro";

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#35bef8] text-white",
        icon: Tailwind
    },
    SUPABASE: {
        name: "Supabase",
        class: "bg-green-500 text-white",
        icon: Supabase
    },
    ASTRO: {
        name: "Astro",
        class: "bg-purple-500 text-white",
        icon: AstroIcon
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-[#037acc] text-white",
        icon: Typescript
    },
		REACT: {
				name: "React.js",
				class: "bg-[#087ea4] text-white",
				icon: React
		},
		NODEJS: {
				name: "Node.js",
				class: "bg-green-500 text-white",
				icon: NodeJS
		},
		SOCKETIO: {
				name: "Socket.io",
				class: "bg-black text-white",
				icon: SocketIO
		},
		HTML: {
				name: "HTML",
				class: "bg-orange-300 text-white",
				icon: HtmlIcon
		},
		CSS: {
				name: "CSS",
				class: "bg-blue-500 text-white",
				icon: CSSIcon
		},
		JAVASCRIPT: {
				name: "JavaScript",
				class: "bg-yellow-300 text-white",
				icon: JavaScript
		},
		PYTHON: {
				name: "Python",
				class: "bg-blue-500 text-white",
				icon: Python
		},
		SQL: {
				name: "PostgreSQL",
				class: "bg-blue-500 text-white",
				icon: SQLIcon
		},
		ANDROID: {
				name: "Android Studio",
				class: "bg-green-500 text-white",
				icon: Android
		}
}

const WEB_PROJECTS = [
    {
        title: "FitConnect - Trabajo Fin de Grado",
        description: "This is my Bachelor's Final Project. It's a Social Media Web App designed for Fitness Enthusiasts. It's built with Next.js + Typescript.js, Tailwind CSS and Supabase. I'm currently working on it.",
        link: "#",
        github: "#",
        image: "/projects/tfg.webp",
        tags: [TAGS.NEXT, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.SUPABASE]
    },
    {    
        title: "Portfolio",
        description: "This is my personal portfolio, the one you are watching right now. It's a static site built with Astro, Tailwind CSS and TypeScript. It's hosted on Netlify.",
        link: "#",
        github: "#",
        image: "/projects/astro.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.TYPESCRIPT]
    }
]

const OTHER_PROJECTS = [
    {
        title: "T221-COMIDAS",
        description: "This is a project I built for a local restaurant. It's a Mobile App built with Android Studio.",
        link: "#",
        github: "https://github.com/javisin22/T221_comidas",
        image: "https://via.placeholder.com/300x200",
        tags: ["Android Studio"]
    },
    // Add more projects here (Assignments from UniZar)
]
---

{
	WEB_PROJECTS.map(project =>
		<article class="mb-6">
			<h3 class="text-2xl font-semibold text-orange-300 mb-2">{project.title}</h3>
			<p class="text-lg mb-4 text-pretty">{project.description}</p>
			<ul class="flex flex-row gap-x-2 mb-4">
				{
					project.tags.map(tag => (
						<li>
							<span class={`flex justify-center items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
								<tag.icon/>  
								{tag.name}
							</span>
						</li>
					))
				}
			</ul>
			<img class="rounded" src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`} />
		</article>
	)
}